@model BasketViewModel
@{
    ViewBag.Title = "Cart | Putka";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main Start -->
<main class="pb-md-4 pb-0">
    <!-- Breadcrumb Section Start -->
    <section class="breadscrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadscrumb-contain">
                        <h2>Cart</h2>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a asp-controller="home" asp-action="index">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Cart</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Cart Section Start -->
    <section class="cart-section section-b-space">
        <div class="container-fluid-lg">
            <div class="row g-sm-5 g-3">
                <div class="col-xxl-9">
                    <div class="cart-table">
                        <div class="table-responsive-xl">
                            <table class="table">
                                <tbody>
                                    @foreach (var item in Model.BasketItems)
                                    {
                                        int rate = item.Product.ProductComments.Any() ? (int)Math.Ceiling(item.Product.ProductComments.Average(x => x.Rate)) : 0;

                                        <tr class="product-box-contain">
                                            <td class="product-detail">
                                                <div class="product border-0">
                                                    <a asp-controller="product" asp-action="detail" asp-route-id="@item.Product.Id">
                                                        <img src="~/uploads/products/@item.Product.ProductImages.FirstOrDefault(x=>x.IsMain == true)?.Url"
                                                             class="img-fluid blur-up lazyload" alt="">
                                                    </a>
                                                    <div class="product-detail">
                                                        <ul>
                                                            <li class="name">
                                                                <a asp-controller="product" asp-action="detail" asp-route-id="@item.Product.Id">@item.Product.Name</a>
                                                            </li>

                                                            <li>
                                                                <h5 class="text-content d-inline-block">Price :</h5>
                                                                @if (item.Product.DiscountPercent != 0)
                                                                {
                                                                    <span>$@((item.Product.SalePrice * (100 - item.Product.DiscountPercent) / 100).ToString("0.00"))</span>
                                                                    <span class="text-content">$@item.Product.SalePrice.ToString("0.00")</span>
                                                                }
                                                                else
                                                                {
                                                                    <span>$@((item.Product.SalePrice * (100 - item.Product.DiscountPercent) / 100).ToString("0.00"))</span>
                                                                }
                                                            </li>

                                                            <li>
                                                                @if (item.Product.DiscountPercent != 0)
                                                                {
                                                                    <h5 class="saving theme-color">Saving : $@(((item.Product.SalePrice * (100 - item.Product.DiscountPercent) / 100) - (item.Product.SalePrice)).ToString("0.00"))</h5>
                                                                }
                                                            </li>

                                                            <li class="quantity-price-box">
                                                                <div class="cart_qty">
                                                                    <div class="input-group">
                                                                        <button type="button" class="btn qty-left-minus removefrombasket"
                                                                                data-type="minus" data-field="" data-url="@Url.Action("removebasket", "product", new { id = item.Product.Id })">
                                                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                                                        </button>
                                                                        <input class="form-control input-number qty-input"
                                                                               type="text" name="quantity" value="0" data-product-id="@item.Product.Id" disabled>
                                                                        <button type="button" class="btn qty-right-plus addtobasket"
                                                                                data-type="plus" data-field="" data-url="@Url.Action("addtobasket", "product", new { id = item.Product.Id })">
                                                                            <i class="fa fa-plus ms-0"
                                                                               aria-hidden="true"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </li>

                                                            <li>
                                                                <h5>Total: $@(((item.Product.DiscountPercent > 0 ? (item.Product.SalePrice * (100 - item.Product.DiscountPercent) / 100) : item.Product.SalePrice) * (item.Count)).ToString("0.00"))</h5>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>

                                            <td class="price">
                                                @if (item.Product.DiscountPercent != 0)
                                                {
                                                    <h4 class="table-title text-content">Price</h4>
                                                    <h5>$@((item.Product.SalePrice * (100 - item.Product.DiscountPercent) / 100).ToString("0.00")) <del class="text-content">$@item.Product.SalePrice.ToString("0.00")</del></h5>
                                                    <h6 class="theme-color">You Save : $@(((item.Product.SalePrice * (100 - item.Product.DiscountPercent) / 100) - (item.Product.SalePrice)).ToString("0.00"))</h6>
                                                }
                                                else
                                                {
                                                    <h4 class="table-title text-content">Price</h4>
                                                    <h5>$@((item.Product.SalePrice * (100 - item.Product.DiscountPercent) / 100).ToString("0.00"))</h5>
                                                }
                                                
                                            </td>

                                            <td class="quantity">
                                                <h4 class="table-title text-content">Qty</h4>
                                                <div class="quantity-price">
                                                    <div class="cart_qty">
                                                        <div class="input-group">
                                                            <button type="button" class="btn qty-left-minus removefrombasket"
                                                                    data-type="minus" data-field="" data-url="@Url.Action("removebasket", "product", new { id = item.Product.Id })">
                                                                <i class="fa fa-minus ms-0" aria-hidden="true"></i>
                                                            </button>
                                                            <input class="form-control input-number qty-input"
                                                                   type="text" name="quantity" value="0" data-product-id="@item.Product.Id" disabled>
                                                            <button type="button" class="btn qty-right-plus addtobasket"
                                                                    data-type="plus" data-field="" data-url="@Url.Action("addtobasket", "product", new { id = item.Product.Id })">
                                                                <i class="fa fa-plus ms-0"
                                                                   aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>

                                            <td class="subtotal">
                                                <h4 class="table-title text-content">Total</h4>
                                                <h5>$@Model.TotalPrice.ToString("0.00")</h5>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-3">
                    <div class="summery-box p-sticky">
                        <div class="summery-header">
                            <h3>Cart Total</h3>
                        </div>

                        <div class="summery-contain">
                            <div class="coupon-cart">
                                <h6 class="text-content mb-2">Coupon Apply</h6>
                                <div class="mb-3 coupon-box input-group">
                                    <input type="email" class="form-control" id="exampleFormControlInput1"
                                           placeholder="Enter Coupon Code Here..." disabled>
                                    <button class="btn-apply" disabled>Apply</button>
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <h4>Subtotal</h4>
                                    <h4 class="price">$@Model.TotalPrice.ToString("0.00")</h4>
                                </li>

                                <li>
                                    <h4>Coupon Discount</h4>
                                    <h4 class="price">(-) 0.00</h4>
                                </li>
                            </ul>
                        </div>

                        <ul class="summery-total">
                            <li class="list-total border-top-0">
                                <h4>Total (USD)</h4>
                                <h4 class="price theme-color">$@Model.TotalPrice.ToString("0.00")</h4>
                            </li>
                        </ul>

                        <div class="button-group cart-button">
                            <ul>
                                <li>
                                    <button onclick="location.href = 'checkout.html';"
                                            class="btn btn-animation proceed-btn fw-bold">
                                        Process To Checkout
                                    </button>
                                </li>

                                <li>
                                    <button onclick="location.href = 'index.html';"
                                            class="btn btn-light shopping-button text-dark">
                                        <i class="fa-solid fa-arrow-left-long"></i>Return To Shopping
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Cart Section End -->
</main>
<!-- Main End -->

@section styles{
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
          rel="stylesheet">

    <!-- bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="~/assets/css/vendors/bootstrap.css">

    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/font-awesome.css">
    <script src="https://kit.fontawesome.com/460a2c75b1.js" crossorigin="anonymous"></script>

    <!-- feather icon css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/feather-icon.css">

    <!-- slick css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick/slick-theme.css">

    <!-- Iconly css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bulk-style.css">

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="~/assets/css/style.css">
}

@section scripts{
    <script src="~/assets/js/pages/common.js" type="module" defer></script>
    <script src="~/assets/js/pages/cart.js" type="module" defer></script>
    <script src="~/assets/js/script.js" defer></script>
}

@section modals{
    @Html.Partial("_LocationPartialModal");
    @Html.Partial("_DealBoxPartialModal");
}