@model ProductDetailViewModel
@{
    ViewBag.Title = "More Information About Product | Putka";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int rate = Model.Product.ProductComments.Any() ? (int)Math.Ceiling(Model.Product.ProductComments.Average(x => x.Rate)) : 0;
}

<!-- Main Start -->
<main class="pb-md-4 pb-0">

    <!-- Breadcrumb Section Start -->
    <section class="breadscrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadscrumb-contain">
                        <h2>@Model.Product.Name</h2>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a asp-controller="home" asp-action="index">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>

                                <li class="breadcrumb-item active">@Model.Product.Name</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Product Section Start -->
    <section class="product-section">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-xxl-9 col-xl-8 col-lg-7 wow fadeInUp">
                    <div class="row g-4">
                        <div class="col-xl-6 wow fadeInUp">
                            <div class="product-left-box">
                                <div class="row g-sm-4 g-2">
                                    <div class="col-12">
                                        <div class="product-main no-arrow">
                                            <div>
                                                <div class="slider-image">
                                                    <img src="/assets/images/product/category/5.jpg"
                                                         data-zoom-image="/assets/images/product/category/5.jpg" class="
                                                        img-fluid image_zoom_cls-4 blur-up lazyload" alt="">
                                                </div>
                                            </div>

                                            <div>
                                                <div class="slider-image">
                                                    <img src="/assets/images/product/category/6.jpg"
                                                         data-zoom-image="../assets/images/product/category/6.jpg" class="
                                                        img-fluid image_zoom_cls-5 blur-up lazyload" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="left-slider-image left-slider no-arrow slick-top">
                                            <div>
                                                <div class="sidebar-image">
                                                    <img src="../assets/images/product/category/5.jpg"
                                                         class="img-fluid blur-up lazyload" alt="">
                                                </div>
                                            </div>

                                            <div>
                                                <div class="sidebar-image">
                                                    <img src="../assets/images/product/category/6.jpg"
                                                         class="img-fluid blur-up lazyload" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 wow fadeInUp">
                            <div class="right-box-contain">
                                @if(Model.Product.DiscountPercent > 0)
                                {
                                    <h6 class="offer-top">@Model.Product.DiscountPercent% Off</h6>
                                }
                                <h2 class="name">@Model.Product.Name</h2>
                                <div class="price-rating">
                                    @if(Model.Product.DiscountPercent > 0)
                                    {
                                        <h3 class="theme-color price">
                                            $@((Model.Product.SalePrice * (100 - Model.Product.DiscountPercent) / 100).ToString("0.00")) <del class="text-content">$@(Model.Product.SalePrice.ToString("0.00"))</del>
                                        </h3>
                                    }
                                    else
                                    {
                                        <h3 class="theme-color price">
                                            $@(Model.Product.SalePrice.ToString("0.00"))
                                        </h3>
                                    }

                                    <div class="product-rating custom-rate">
                                        <ul class="rating">
                                            @for (int i = 1; i <= 5; i++)
                                            {
                                                <li>
                                                    <i data-feather="star" class="@(i <= rate ? "fill" : "")"></i>
                                                </li>
                                            }
                                        </ul>
                                        <span class="review">@Model.Product.ProductComments.Count Customer Review</span>
                                    </div>
                                </div>

                                <div class="procuct-contain">
                                    <p>
                                        @Model.Product.Description
                                    </p>
                                </div>

                                <div class="product-packege">
                                    <div class="product-title">
                                        <h4>Weight</h4>
                                    </div>
                                    <ul class="select-packege">
                                        @foreach (var weight in Model.Product.ProductWeights)
                                        {
                                            <li>
                                                <a href="javascript:void(0)" class="">@weight.Weight.Name.ToString("0.0") KG</a>
                                            </li>
                                        }
                                    </ul>
                                </div>

                                <div class="time deal-timer product-deal-timer mx-md-0 mx-auto" id="clockdiv-1"
                                     data-hours="1" data-minutes="2" data-seconds="3">
                                    <div class="product-title">
                                        <h4>Hurry up! Sales Ends In</h4>
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="counter d-block">
                                                <div class="days d-block">
                                                    <h5></h5>
                                                </div>
                                                <h6>Days</h6>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="counter d-block">
                                                <div class="hours d-block">
                                                    <h5></h5>
                                                </div>
                                                <h6>Hours</h6>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="counter d-block">
                                                <div class="minutes d-block">
                                                    <h5></h5>
                                                </div>
                                                <h6>Min</h6>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="counter d-block">
                                                <div class="seconds d-block">
                                                    <h5></h5>
                                                </div>
                                                <h6>Sec</h6>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="add-to-cart-box bg-white">
                                    <button class="btn btn-add-cart addcart-button addtobasket"
                                            data-url="@Url.Action("addtobasket", "product", new { id = Model.Product.Id })"
                                            data-product-id="@Model.Product.Id">
                                        Add
                                        <span class="add-icon bg-light-gray">
                                            <i class="fa-solid fa-plus"></i>
                                        </span>
                                    </button>
                                    <div class="cart_qty qty-box">
                                        <div class="input-group bg-white">
                                            <button type="button" class="qty-left-minus removefrombasket"
                                                    data-type="minus" data-field="" data-url="@Url.Action("removebasket", "product", new { id = Model.Product.Id })">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                            <input class="form-control input-number qty-input"
                                                   type="text" name="quantity" value="0" data-product-id="@Model.Product.Id" disabled>
                                            <button type="button" class="qty-right-plus addtobasket"
                                                    data-type="plus" data-field="" data-url="@Url.Action("addtobasket", "product", new { id = Model.Product.Id })">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="pickup-box">
                                    <div class="product-info">
                                        <ul class="product-info-list product-info-list-2">
                                            <li>CRDT : <a href="javascript:void(0)">@Model.Product.ProductionDate.ToString("MMM d, yyyy")</a></li>
                                            @if (Model.Product.StockStatus)
                                            {
                                                <li>Stock : <a href="javascript:void(0)">Available!</a></li>
                                            }
                                            else
                                            {
                                                <li>Stock : <a href="javascript:void(0)">Out of Stock!</a></li>
                                            }

                                            <li>
                                                Tags :  @foreach (var tag in Model.Product.ProductTags)
                                                {
                                                    <a href="javascript:void(0)">@tag.Tag.Name</a>

                                                    @(Model.Product.ProductTags.Last()?.TagId == tag.TagId ? "" : "-")
                                                }
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->
    <!-- Nav Tab Section Start -->
    <section>
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="product-section-box m-0">
                        <ul class="nav nav-tabs custom-nav" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="review-tab" data-bs-toggle="tab" data-bs-target="#review"
                                        type="button" role="tab" aria-controls="review"
                                        aria-selected="true">
                                    Reviews
                                </button>
                            </li>
                        </ul>

                        <div class="tab-content custom-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
                                <div class="review-box">
                                    <div class="row g-4">

                                        @Html.Partial("_ProductCommentFormPartial", Model.ProductComment)

                                        <div class="col-12">
                                            <div class="review-title">
                                                <h4 class="fw-500">Customer questions & answers</h4>
                                            </div>

                                            <div class="review-people">
                                                <ul class="review-list" id="commentList">
                                                    @foreach (var item in Model.Product.ProductComments)
                                                    {
                                                        <li class="comment">
                                                            <div class="people-box">
                                                                <div>
                                                                    <div class="people-image">
                                                                        <img src="~/assets/images/review/1.jpg"
                                                                             class="img-fluid blur-up lazyload" alt="">
                                                                    </div>
                                                                </div>

                                                                <div class="people-comment">
                                                                    <a class="name" href="javascript:void(0)">@item.AppUser.UserName</a>
                                                                    <div class="date-time">
                                                                        <h6 class="text-content">
                                                                            @item.CreatedDate.ToString("dd MMMM, yyyy 'at' hh.mm tt")
                                                                        </h6>

                                                                        <div class="product-rating">
                                                                            <ul class="rating">
                                                                                @for (int i = 1; i <= 5; i++)
                                                                                {
                                                                                    <li>
                                                                                        <i data-feather="star" class="@(i<=item.Rate?"fill":"")"></i>
                                                                                    </li>
                                                                                }
                                                                            </ul>
                                                                        </div>
                                                                    </div>

                                                                    <div class="reply">
                                                                        <p>
                                                                            @item.Comment<a href="javascript:void(0)">Reply</a>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    }
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Nav Tab Section End -->
    <!-- Related Product Section Start -->
    <section class="product-list-section section-b-space">
        <div class="container-fluid-lg">
            <div class="title">
                <h2>Related Products</h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="slider-6_1 product-wrapper">
                        @foreach (var item in Model.RelatedProducts)
                        {
                            <div>
                                <div class="product-box-3 wow fadeInUp">
                                    <div class="product-header">
                                        <div class="product-image">
                                            <a asp-controller="product" asp-action="detail" asp-route-id="@item.Id">
                                                <img src="~/uploads/products/@item.ProductImages.FirstOrDefault(x=>x.IsMain == true)?.Url"
                                                     class="img-fluid blur-up lazyload" alt="">
                                            </a>

                                            <ul class="product-option">
                                                <li data-bs-toggle="tooltip" data-bs-placement="top" title="View">
                                                    <a asp-controller="product" asp-action="productdetail" asp-route-id="@item.Id" class="quick-view-modal-btn">
                                                        <i data-feather="eye"></i>
                                                    </a>
                                                </li>

                                                <li data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist">
                                                    <a href="wishlist.html" class="notifi-wishlist">
                                                        <i data-feather="heart"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="product-footer">
                                        <div class="product-detail">
                                            <span class="span-name">@item.Category.Name</span>
                                            <a asp-controller="product" asp-action="detail">
                                                <h6 class="name">@item.Name</h6>
                                            </a>
                                            <div class="product-rating mt-2">
                                                <ul class="rating">
                                                    @for (int i = 1; i <= 5; i++)
                                                    {
                                                        <li>
                                                            <i data-feather="star" class="@(i <= rate ? "fill" : "")"></i>
                                                        </li>
                                                    }
                                                </ul>
                                                <span>(@rate.0)</span>
                                            </div>
                                            <h5 class="price">
                                                @if (item.DiscountPercent != 0)
                                                {
                                                    <span class="theme-color">$@((item.SalePrice * (100 - item.DiscountPercent) / 100).ToString("0.00"))</span> <del>$@item.SalePrice.ToString("0.00")</del>
                                                }
                                                else
                                                {
                                                    <span class="theme-color">$@((item.SalePrice * (100 - item.DiscountPercent) / 100).ToString("0.00"))</span>
                                                }

                                            </h5>
                                            <div class="add-to-cart-box bg-white">
                                                <button class="btn btn-add-cart addcart-button addtobasket"
                                                        data-url="@Url.Action("addtobasket", "product", new { id = item.Id })"
                                                        data-product-id="@item.Id">
                                                    Add
                                                    <span class="add-icon bg-light-gray">
                                                        <i class="fa-solid fa-plus"></i>
                                                    </span>
                                                </button>
                                                <div class="cart_qty qty-box">
                                                    <div class="input-group bg-white">
                                                        <button type="button" class="qty-left-minus bg-gray removefrombasket"
                                                                data-type="minus" data-field="" data-url="@Url.Action("removebasket", "product", new { id = item.Id })">
                                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                                        </button>
                                                        <input class="form-control input-number qty-input"
                                                               type="text" name="quantity" value="0" data-product-id="@item.Id" disabled>
                                                        <button type="button" class="qty-right-plus bg-gray addtobasket"
                                                                data-type="plus" data-field="" data-url="@Url.Action("addtobasket", "product", new { id = item.Id })">
                                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Related Product Section End -->
    <!-- Quick View Modal Box Start -->
    <div class="modal fade theme-modal view-modal" id="view" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down">

        </div>
    </div>
    <!-- Quick View Modal Box End -->
</main>
<!-- Main End -->

@section styles{
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
          rel="stylesheet">

    <!-- bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="~/assets/css/vendors/bootstrap.css">

    <!-- wow css -->
    <link rel="stylesheet" href="~/assets/css/animate.min.css" />

    <!-- font-awesome css -->
    <link rel="stylesheet"
          type="text/css"
          href="~/assets/css/vendors/font-awesome.css" />
    <script src="https://kit.fontawesome.com/460a2c75b1.js"
            crossorigin="anonymous"></script>

    <!-- feather icon css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/feather-icon.css">

    <!-- slick css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick/slick-theme.css">

    <!-- Iconly css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bulk-style.css">

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="~/assets/css/style.css">
}

@section scripts{
    <script src="~/assets/js/pages/common.js" type="module" defer></script>
    <script src="~/assets/js/pages/product.js" type="module" defer></script>
    <script src="~/assets/js/script.js" defer></script>
    <script src="~/assets/js/view-modal.js" defer></script>
}

@section modals{
    @Html.Partial("_LocationPartialModal");
    @Html.Partial("_DealBoxPartialModal");
}