@model HomeViewModel
@{
    ViewBag.Title = "The Freshest Products are just here | Putka";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main Start -->
<main class="pb-md-4 pb-0">
    <!-- Home Section Start -->
    <section class="home-section pt-2">
        <div class="container-fluid-lg">
            <div class="row g-4">
                <div class="col-xl-8 ratio_65">
                    <div class="home-contain h-100">
                        <div class="h-100">
                            <img src="../assets/images/vegetable/banner/1.jpg" class="bg-img blur-up lazyload" alt="">
                        </div>
                        <div class="home-detail p-center-left w-75">
                            <div>
                                <h6>Exclusive offer <span>30% Off</span></h6>
                                <h1 class="text-uppercase">
                                    Stay home & delivered your <span class="daily">
                                        Daily
                                        Needs
                                    </span>
                                </h1>
                                <p class="w-75 d-none d-sm-block">
                                    Vegetables contain many vitamins and minerals that are
                                    good for your health.
                                </p>
                                <button onclick="location.href = 'shop.html';"
                                        class="btn btn-animation mt-xxl-4 mt-2 home-button mend-auto">
                                    Shop Now <i class="fa-solid fa-right-long icon"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 ratio_65">
                    <div class="row g-4">
                        <div class="col-xl-12 col-md-6">
                            <div class="home-contain">
                                <img src="../assets/images/vegetable/banner/2.jpg" class="bg-img blur-up lazyload"
                                     alt="">
                                <div class="home-detail p-center-left home-p-sm w-75">
                                    <div>
                                        <h2 class="mt-0 text-danger">
                                            45% <span class="discount text-title">OFF</span>
                                        </h2>
                                        <h3 class="theme-color">Nut Collection</h3>
                                        <p class="w-75">We deliver organic vegetables & fruits</p>
                                        <a href="shop.html" class="shop-button">
                                            Shop Now <i class="fa-solid fa-right-long"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-12 col-md-6">
                            <div class="home-contain">
                                <img src="../assets/images/vegetable/banner/3.jpg" class="bg-img blur-up lazyload"
                                     alt="">
                                <div class="home-detail p-center-left home-p-sm w-75">
                                    <div>
                                        <h3 class="mt-0 theme-color fw-bold">Healthy Food</h3>
                                        <h4 class="text-danger">Organic Market</h4>
                                        <p class="organic">Start your daily shopping with some Organic food</p>
                                        <a href="shop.html" class="shop-button">
                                            Shop Now <i class="fa-solid fa-right-long"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Home Section End -->
    <!-- Banner Section Start -->
    <section class="banner-section ratio_60 wow fadeInUp">
        <div class="container-fluid-lg">
            <div class="banner-slider">
                <div>
                    <div class="banner-contain hover-effect">
                        <img src="../assets/images/vegetable/banner/4.jpg" class="bg-img blur-up lazyload" alt="">
                        <div class="banner-details">
                            <div class="banner-box">
                                <h6 class="text-danger">5% OFF</h6>
                                <h5>Hot Deals on New Items</h5>
                                <h6 class="text-content">Daily Essentials Eggs & Dairy</h6>
                            </div>
                            <a href="shop-left-sidebar.html" class="banner-button text-white">
                                Shop Now <i class="fa-solid fa-right-long ms-2"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="banner-contain hover-effect">
                        <img src="../assets/images/vegetable/banner/5.jpg" class="bg-img blur-up lazyload" alt="">
                        <div class="banner-details">
                            <div class="banner-box">
                                <h6 class="text-danger">5% OFF</h6>
                                <h5>Buy More & Save More</h5>
                                <h6 class="text-content">Fresh Vegetables</h6>
                            </div>
                            <a href="shop-left-sidebar.html" class="banner-button text-white">
                                Shop Now <i class="fa-solid fa-right-long ms-2"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="banner-contain hover-effect">
                        <img src="../assets/images/vegetable/banner/6.jpg" class="bg-img blur-up lazyload" alt="">
                        <div class="banner-details">
                            <div class="banner-box">
                                <h6 class="text-danger">5% OFF</h6>
                                <h5>Organic Meat Prepared</h5>
                                <h6 class="text-content">Delivered to Your Home</h6>
                            </div>
                            <a href="shop-left-sidebar.html" class="banner-button text-white">
                                Shop Now <i class="fa-solid fa-right-long ms-2"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="banner-contain hover-effect">
                        <img src="../assets/images/vegetable/banner/7.jpg" class="bg-img blur-up lazyload" alt="">
                        <div class="banner-details">
                            <div class="banner-box">
                                <h6 class="text-danger">5% OFF</h6>
                                <h5>Buy More & Save More</h5>
                                <h6 class="text-content">Nuts & Snacks</h6>
                            </div>
                            <a href="shop-left-sidebar.html" class="banner-button text-white">
                                Shop Now <i class="fa-solid fa-right-long ms-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->
    <!-- Product Section Start -->
    <section class="product-section">
        <div class="container-fluid-lg">
            <div class="row g-sm-4 g-3">
                <div class="col-xxl-3 col-xl-4 d-none d-xl-block">
                    <div class="p-sticky">
                        <div class="category-menu">
                            <h3>Category</h3>
                            <ul>
                                <li>
                                    <div class="category-list">
                                        <img src="https://themes.pixelstrap.com/fastkart/assets/svg/1/vegetable.svg" class="blur-up lazyload" alt="">
                                        <h5>
                                            <a href="shop-left-sidebar.html">Vegetables & Fruit</a>
                                        </h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="category-list">
                                        <img src="https://themes.pixelstrap.com/fastkart/assets/svg/1/meats.svg" class="blur-up lazyload" alt="">
                                        <h5>
                                            <a href="shop-left-sidebar.html">Meats & Seafood</a>
                                        </h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="category-list">
                                        <img src="https://themes.pixelstrap.com/fastkart/assets/svg/1/breakfast.svg" class="blur-up lazyload" alt="">
                                        <h5>
                                            <a href="shop-left-sidebar.html">Breakfast & Dairy</a>
                                        </h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="category-list">
                                        <img src="https://themes.pixelstrap.com/fastkart/assets/svg/1/biscuit.svg" class="blur-up lazyload" alt="">
                                        <h5>
                                            <a href="shop-left-sidebar.html">Biscuits & Snacks</a>
                                        </h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="category-list">
                                        <img src="https://themes.pixelstrap.com/fastkart/assets/svg/1/cup.svg" class="blur-up lazyload" alt="">
                                        <h5>
                                            <a href="shop-left-sidebar.html">Beverages</a>
                                        </h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="category-list">
                                        <img src="https://themes.pixelstrap.com/fastkart/assets/svg/1/drink.svg" class="blur-up lazyload" alt="">
                                        <h5>
                                            <a href="shop-left-sidebar.html">Wines & Alcohol Drinks</a>
                                        </h5>
                                    </div>
                                </li>
                                <li class="mb-3">
                                    <div class="category-list">
                                        <img src="https://themes.pixelstrap.com/fastkart/assets/svg/1/milk.svg" class="blur-up lazyload" alt="">
                                        <h5>
                                            <a href="shop-left-sidebar.html">Milk & Dairies</a>
                                        </h5>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="ratio_medium section-t-space">
                            <div class="home-contain hover-effect">
                                <img src="../assets/images/vegetable/banner/11.jpg" class="img-fluid blur-up lazyload"
                                     alt="">
                                <div class="home-detail p-top-left home-p-medium">
                                    <div>
                                        <h4 class="text-yellow text-exo home-banner">Organic</h4>
                                        <h2 class="text-uppercase fw-normal mb-0 text-russo theme-color">fresh</h2>
                                        <h2 class="text-uppercase fw-normal text-title">Vegetables</h2>
                                        <p class="mb-3">Super Offer to 50% Off</p>
                                        <button onclick="location.href = 'shop-left-sidebar.html';"
                                                class="btn btn-animation btn-md mend-auto">
                                            Shop Now <i class="fa-solid fa-arrow-right icon"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="section-t-space">
                            <div class="category-menu">
                                <h3>Trending Products</h3>

                                <ul class="product-list border-0 p-0 d-block">
                                    <li>
                                        <div class="offer-product">
                                            <a href="product-left-thumbnail.html" class="offer-image">
                                                <img src="../assets/images/vegetable/product/23.png"
                                                     class="blur-up lazyload" alt="">
                                            </a>

                                            <div class="offer-detail">
                                                <div>
                                                    <a href="product-left-thumbnail.html" class="text-title">
                                                        <h6 class="name">Meatigo Premium Goat Curry</h6>
                                                    </a>
                                                    <span>450 G</span>
                                                    <h6 class="price theme-color">$ 70.00</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="offer-product">
                                            <a href="product-left-thumbnail.html" class="offer-image">
                                                <img src="../assets/images/vegetable/product/24.png"
                                                     class="blur-up lazyload" alt="">
                                            </a>

                                            <div class="offer-detail">
                                                <div>
                                                    <a href="product-left-thumbnail.html" class="text-title">
                                                        <h6 class="name">Dates Medjoul Premium Imported</h6>
                                                    </a>
                                                    <span>450 G</span>
                                                    <h6 class="price theme-color">$ 40.00</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="offer-product">
                                            <a href="product-left-thumbnail.html" class="offer-image">
                                                <img src="../assets/images/vegetable/product/25.png"
                                                     class="blur-up lazyload" alt="">
                                            </a>

                                            <div class="offer-detail">
                                                <div>
                                                    <a href="product-left-thumbnail.html" class="text-title">
                                                        <h6 class="name">Good Life Walnut Kernels</h6>
                                                    </a>
                                                    <span>200 G</span>
                                                    <h6 class="price theme-color">$ 52.00</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="mb-0">
                                        <div class="offer-product">
                                            <a href="product-left-thumbnail.html" class="offer-image">
                                                <img src="../assets/images/vegetable/product/26.png"
                                                     class="blur-up lazyload" alt="">
                                            </a>

                                            <div class="offer-detail">
                                                <div>
                                                    <a href="product-left-thumbnail.html" class="text-title">
                                                        <h6 class="name">Apple Red Premium Imported</h6>
                                                    </a>
                                                    <span>1 KG</span>
                                                    <h6 class="price theme-color">$ 80.00</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-9 col-xl-8">
                    <div class="title title-flex">
                        <div>
                            <h2>Top Save Today</h2>
                            <span class="title-leaf">
                            </span>
                            <p>Don't miss this opportunity at a special discount just for this week.</p>
                        </div>
                        <div class="timing-box">
                            <div class="timing">
                                <i data-feather="clock"></i>
                                <h6 class="name">Expires in :</h6>
                                <div class="time" id="clockdiv-1" data-hours="1" data-minutes="2" data-seconds="3">
                                    <ul>
                                        <li>
                                            <div class="counter">
                                                <div class="days">
                                                    <h6></h6>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="counter">
                                                <div class="hours">
                                                    <h6></h6>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="counter">
                                                <div class="minutes">
                                                    <h6></h6>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="counter">
                                                <div class="seconds">
                                                    <h6></h6>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section-b-space">
                        <div class="product-border border-row overflow-hidden">
                            <div class="product-box-slider no-arrow">

                                @foreach (var item in Model.Products)
                                {
                                    if (item.Id % 2 != 0)
                                    {
                                        <div>
                                            <div class="row m-0">

                                                <div class="col-12 px-0">
                                                    <div class="product-box">
                                                        <div class="product-image">
                                                            <a asp-controller="product" asp-action="detail" asp-route-id="@item.Id">
                                                                <img src="~/uploads/products/@item.ProductImages.FirstOrDefault(x=>x.IsMain == true)?.Url"
                                                                     class="img-fluid blur-up lazyload" alt="">
                                                            </a>
                                                            <ul class="product-option">
                                                                <li data-bs-toggle="tooltip" data-bs-placement="top"
                                                                    title="View">
                                                                    <a asp-controller="product" asp-action="productdetail" asp-route-id="@item.Id" class="quick-view-modal-btn">
                                                                        <i data-feather="eye"></i>
                                                                    </a>
                                                                </li>

                                                                <li data-bs-toggle="tooltip" data-bs-placement="top"
                                                                    title="Wishlist">
                                                                    <a href="wishlist.html" class="notifi-wishlist">
                                                                        <i data-feather="heart"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="product-detail">
                                                            <a asp-controller="product" asp-action="detail">
                                                                <h6 class="name">@item.Name</h6>
                                                            </a>

                                                            <h5 class="sold text-content">
                                                                @if (item.DiscountPercent != 0)
                                                                {
                                                                    <span class="theme-color price">$@((item.SalePrice * (100 - item.DiscountPercent) / 100).ToString("0.00"))</span>
                                                                    <del>$@item.SalePrice.ToString("0.00")</del>
                                                                }
                                                                else
                                                                {
                                                                    <span class="theme-color price">$@((item.SalePrice * (100 - item.DiscountPercent) / 100).ToString("0.00"))</span>
                                                                }
                                                            </h5>

                                                            <div class="product-rating mt-sm-2 mt-1">
                                                                <ul class="rating">
                                                                    <li>
                                                                        <i data-feather="star" class="fill"></i>
                                                                    </li>
                                                                    <li>
                                                                        <i data-feather="star" class="fill"></i>
                                                                    </li>
                                                                    <li>
                                                                        <i data-feather="star" class="fill"></i>
                                                                    </li>
                                                                    <li>
                                                                        <i data-feather="star" class="fill"></i>
                                                                    </li>
                                                                    <li>
                                                                        <i data-feather="star"></i>
                                                                    </li>
                                                                </ul>

                                                                <h6 class="theme-color">In Stock</h6>
                                                            </div>

                                                            <div class="add-to-cart-box">
                                                                <button class="btn btn-add-cart addcart-button addtobasket"
                                                                        data-url="@Url.Action("addtobasket", "product", new { id = item.Id })"
                                                                        data-product-id="@item.Id">
                                                                    Add
                                                                    <span class="add-icon bg-light-gray">
                                                                        <i class="fa-solid fa-plus"></i>
                                                                    </span>
                                                                </button>
                                                                <div class="cart_qty qty-box">
                                                                    <div class="input-group">
                                                                        <button type="button" class="qty-left-minus removefrombasket"
                                                                                data-type="minus" data-field="" data-url="@Url.Action("removebasket", "product", new { id = item.Id })">
                                                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                                                        </button>
                                                                            <input class="form-control input-number qty-input"
                                                                                   type="text" name="quantity" value="0" data-product-id="@item.Id" disabled>
                                                                        <button type="button" class="qty-right-plus addtobasket"
                                                                                data-type="plus" data-field="" data-url="@Url.Action("addtobasket", "product", new { id = item.Id })">
                                                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                    </div>

                    <div class="title d-block">
                        <div>
                            <h2>Our best Seller</h2>
                            <span class="title-leaf">
                            </span>
                            <p>A virtual assistant collects the products from your list</p>
                        </div>
                    </div>

                    <div class="best-selling-slider product-wrapper wow fadeInUp">
                        <div>
                            <ul class="product-list">
                                @foreach (var item in Model.BestSellerProducts.Take(4))
                                {
                                    <li>
                                        <div class="offer-product">
                                            <a href="product-left-thumbnail.html" class="offer-image">
                                                <img src="/assets/images/vegetable/product/@item.ProductImages.FirstOrDefault(x=>x.IsMain == true)?.Url"
                                                     class="blur-up lazyload" alt="">
                                            </a>

                                            <div class="offer-detail">
                                                <div>
                                                    <a href="product-left-thumbnail.html" class="text-title">
                                                        <h6 class="name">@item.Name</h6>
                                                    </a>
                                                    <span>500 G</span>
                                                    @if (item.DiscountPercent > 0)
                                                    {
                                                        <h6 class="price theme-color">@((item.SalePrice * (100 - item.DiscountPercent) / 100).ToString("0.00"))</h6>
                                                    }
                                                    else
                                                    {
                                                        <h6 class="price theme-color">@item.SalePrice.ToString("0.00")</h6>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>

                        <div>
                            <ul class="product-list">
                                @foreach (var item in Model.BestSellerProducts.Skip(4).Take(4))
                                {
                                    <li>
                                        <div class="offer-product">
                                            <a href="product-left-thumbnail.html" class="offer-image">
                                                <img src="/assets/images/vegetable/product/@item.ProductImages.FirstOrDefault(x=>x.IsMain == true)?.Url"
                                                     class="blur-up lazyload" alt="">
                                            </a>

                                            <div class="offer-detail">
                                                <div>
                                                    <a href="product-left-thumbnail.html" class="text-title">
                                                        <h6 class="name">@item.Name</h6>
                                                    </a>
                                                    <span>500 G</span>
                                                    @if (item.DiscountPercent > 0)
                                                    {
                                                        <h6 class="price theme-color">@((item.SalePrice * (100 - item.DiscountPercent) / 100).ToString("0.00"))</h6>
                                                    }
                                                    else
                                                    {
                                                        <h6 class="price theme-color">@item.SalePrice.ToString("0.00")</h6>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>

                        <div>
                            <ul class="product-list">
                                @foreach (var item in Model.BestSellerProducts.Skip(8).Take(4))
                                {
                                    <li>
                                        <div class="offer-product">
                                            <a href="product-left-thumbnail.html" class="offer-image">
                                                <img src="/assets/images/vegetable/product/@item.ProductImages.FirstOrDefault(x=>x.IsMain == true)?.Url"
                                                     class="blur-up lazyload" alt="">
                                            </a>

                                            <div class="offer-detail">
                                                <div>
                                                    <a href="product-left-thumbnail.html" class="text-title">
                                                        <h6 class="name">@item.Name</h6>
                                                    </a>
                                                    <span>500 G</span>
                                                    @if (item.DiscountPercent > 0)
                                                    {
                                                        <h6 class="price theme-color">@((item.SalePrice * (100 - item.DiscountPercent) / 100).ToString("0.00"))</h6>
                                                    }
                                                    else
                                                    {
                                                        <h6 class="price theme-color">@item.SalePrice.ToString("0.00")</h6>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>

                    <div class="title section-t-space">
                        <h2>Featured Blog</h2>
                        <span class="title-leaf">
                        </span>
                        <p>A virtual assistant collects the products from your list</p>
                    </div>

                    <div class="slider-3-blog ratio_65 no-arrow product-wrapper">
                        <div>
                            <div class="blog-box">
                                <div class="blog-box-image">
                                    <a href="blog-detail.html" class="blog-image">
                                        <img src="../assets/images/vegetable/blog/1.jpg" class="bg-img blur-up lazyload"
                                             alt="">
                                    </a>
                                </div>

                                <a href="blog-detail.html" class="blog-detail">
                                    <h6>20 March, 2022</h6>
                                    <h5>Fresh Vegetable Online</h5>
                                </a>
                            </div>
                        </div>

                        <div>
                            <div class="blog-box">
                                <div class="blog-box-image">
                                    <a href="blog-detail.html" class="blog-image">
                                        <img src="../assets/images/vegetable/blog/2.jpg" class="bg-img blur-up lazyload"
                                             alt="">
                                    </a>
                                </div>

                                <a href="blog-detail.html" class="blog-detail">
                                    <h6>10 April, 2022</h6>
                                    <h5>Fresh Combo Fruit</h5>
                                </a>
                            </div>
                        </div>

                        <div>
                            <div class="blog-box">
                                <div class="blog-box-image">
                                    <a href="blog-detail.html" class="blog-image">
                                        <img src="../assets/images/vegetable/blog/3.jpg" class="bg-img blur-up lazyload"
                                             alt="">
                                    </a>
                                </div>

                                <a href="blog-detail.html" class="blog-detail">
                                    <h6>10 April, 2022</h6>
                                    <h5>Nuts to Eat for Better Health</h5>
                                </a>
                            </div>
                        </div>

                        <div>
                            <div class="blog-box">
                                <div class="blog-box-image">
                                    <a href="blog-detail.html" class="blog-image">
                                        <img src="../assets/images/vegetable/blog/1.jpg" class="bg-img blur-up lazyload"
                                             alt="">
                                    </a>
                                </div>

                                <a href="blog-detail.html" class="blog-detail">
                                    <h6>20 March, 2022</h6>
                                    <h5>Fresh Vegetable Online</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->
    <!-- Quick View Modal Box Start -->
    <div class="modal fade theme-modal view-modal" id="view" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down">

        </div>
    </div>
    <!-- Quick View Modal Box End -->

</main>
<!-- Main End -->

@section styles{
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
          rel="stylesheet">

    <!-- bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="~/assets/css/vendors/bootstrap.css">

    <!-- wow css -->
    <link rel="stylesheet" href="~/assets/css/animate.min.css" />

    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/font-awesome.css">
    <script src="https://kit.fontawesome.com/460a2c75b1.js" crossorigin="anonymous"></script>

    <!-- feather icon css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/feather-icon.css">

    <!-- slick css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick/slick-theme.css">

    <!-- Iconly css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bulk-style.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/animate.css">

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="~/assets/css/style.css">
}

@section scripts{
    <script src="~/assets/js/pages/common.js" type="module" defer></script>
    <script src="~/assets/js/pages/index.js" type="module" defer></script>
    <script src="~/assets/js/script.js" defer></script>
    <script src="~/assets/js/view-modal.js" defer></script>

}

@section modals{
    @Html.Partial("_PrivacyPartialView");
    @Html.Partial("_LocationPartialModal");
    @Html.Partial("_DealBoxPartialModal");
}