@model ShopViewModel
@{
    ViewBag.Title = "Shop | Putka";
    Layout = "~/Views/Shared/_Layout.cshtml";

    double delayCount = 0;
}

<!-- Main Start  -->
<main class="pb-md-4 pb-0">
      <!-- Breadcrumb Section Start -->
      <section class="breadscrumb-section pt-0">
        <div class="container-fluid-lg">
          <div class="row">
            <div class="col-12">
              <div class="breadscrumb-contain">
                <h2>Shop Top Filter</h2>
                <nav>
                  <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                      <a href="index.html">
                        <i class="fa-solid fa-house"></i>
                      </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Shop Top Filter
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Breadcrumb Section End -->

      <!-- Shop Section Start -->
      <section class="section-b-space shop-section">
        <div class="container-fluid-lg">
          <div class="row">
            <div class="col-12">
              <div class="show-button">
                <div class="top-filter-menu-2">
                  <div
                    class="sidebar-filter-menu"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseExample"
                  >
                    <a href="javascript:void(0)"
                      ><i class="fa-solid fa-filter"></i> Filter Menu</a
                    >
                  </div>

                  <div class="ms-auto d-flex align-items-center">
                    <div class="category-dropdown me-md-3">
                      <h5 class="text-content">Sort By :</h5>
                      <div class="dropdown">
                      <select onchange="this.form.submit()" asp-items="@ViewBag.SortList" form="filter-form" name="sort" class="dropdown-toggle">
                      </select>

                      </div>
                    </div>

                    <div class="grid-option grid-option-2">
                      <ul>
                        <li class="three-grid">
                          <a href="javascript:void(0)">
                            <img
                              src="https://themes.pixelstrap.com/fastkart/assets/svg/grid-3.svg"
                              class="blur-up lazyload"
                              alt=""
                            />
                          </a>
                        </li>
                        <li class="five-grid d-xxl-inline-block d-none active">
                          <a href="javascript:void(0)">
                            <img
                              src="https://themes.pixelstrap.com/fastkart/assets/svg/grid-5.svg"
                              class="blur-up lazyload d-lg-inline-block d-none"
                              alt=""
                            />
                          </a>
                        </li>
                        <li class="list-btn">
                          <a href="javascript:void(0)">
                            <img
                              src="https://themes.pixelstrap.com/fastkart/assets/svg/list.svg"
                              class="blur-up lazyload"
                              alt=""
                            />
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="top-filter-category" id="collapseExample">
                <div class="row g-sm-4 g-3">
                  <div class="col-xl-4 col-md-6">
                    <div class="category-title">
                      <h3>Categories</h3>
                    </div>
                    <ul class="category-list custom-padding custom-height">
                                    @foreach (var item in Model.Categories)
                                    {
                                        <li>
                                            <div class="form-check ps-0 m-0 category-list-box">
                                                <input form="filter-form" class="checkbox_animated"
                                                       type="checkbox"
                                                       id="categoryId-@item.Id"
                                                       name="categoryId"
                                                       value="@item.Id" @(ViewBag.CategoryIds.Contains(item.Id) ? "checked" : "") />
                                                <label class="form-check-label" for="categoryId-@item.Id">
                                                    <span class="name">@item.Name</span>
                                                    <span class="number">(@item.Products.Count)</span>
                                                </label>
                                            </div>
                                        </li>

                                    }
                    </ul>
                  </div>

                  <div class="col-xl-4 col-md-6">
                    <div class="category-title">
                      <h3>Price</h3>
                    </div>
                    <div class="range-slider">
                      <input type="text" class="js-range-slider" value="" />
                    </div>

                    <input id="maxPriceInput" form="filter-form" type="hidden" name="maxPrice" value="50"/>
                    <input id="minPriceInput" form="filter-form" type="hidden" name="minPrice" value="10" />

                    <input type="hidden" id="jsValueMin" value="@ViewBag.MinPrice" />
                    <input type="hidden" id="jsValueMax" value="@ViewBag.MaxPrice" />
                    <input type="hidden" id="jsMaxPriceLimit" value="@ViewBag.MaxPriceLimit" />


                    <div style="margin-top: 30px; margin-left: 150px">
                                    <form method="get" id="filter-form">
                                        <button class="btn btn-sm cart-button theme-bg-color
                                                    text-white" type="submit">
                                            Filter
                                        </button>
                                    </form>
                    </div>
                  </div>

                  <div class="col-xl-4 col-md-6">
                    <div class="category-title">
                      <h3>Tags</h3>
                    </div>
                    <ul class="category-list custom-padding custom-height">
                                    @foreach (var item in Model.Tags)
                                    {
                                        <li>
                                            <div class="form-check ps-0 m-0 category-list-box">
                                                <input form="filter-form" 
                                                       class="checkbox_animated"
                                                       type="checkbox"
                                                       id="tagId-@item.Id"
                                                       name="tagId"
                                                       value="@item.Id" @(ViewBag.TagIds.Contains(item.Id) ? "checked" : "") />
                                                <label class="form-check-label"
                                                       for="tagId-@item.Id">
                                                    <span class="name">@item.Name</span>
                                                </label>
                                            </div>
                                        </li>
                                    }
                    </ul>
                  </div>
                </div>
              </div>

              <div class="row g-sm-4 g-3 row-cols-xxl-5 row-cols-xl-3 row-cols-lg-2 row-cols-md-3 row-cols-2 product-list-section">

                        @foreach (var item in Model.Products)
                        {
                            int rate = item.ProductComments.Any() ? (int)Math.Ceiling(item.ProductComments.Average(x => x.Rate)) : 0;

                            <div>
                                <div class="product-box-3 h-100 wow fadeInUp" @(delayCount > 0 ? $"data-wow-daley=\"{delayCount}\"" : "")>
                                    <div class="product-header">
                                        <div class="product-image">
                                            <a asp-controller="product" asp-action="detail" asp-route-id="@item.Id">
                                                <img src="~/uploads/products/@item.ProductImages.FirstOrDefault(x=>x.IsMain == true)?.Url"
                                                     class="img-fluid blur-up lazyload"
                                                     alt="" />
                                            </a>

                                            <ul class="product-option">
                                                <li data-bs-toggle="tooltip" data-bs-placement="top" title="View">
                                                    <a asp-controller="product" asp-action="productdetail" asp-route-id="@item.Id" class="quick-view-modal-btn">
                                                        <i data-feather="eye"></i>
                                                    </a>
                                                </li>

                                                <li data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist">
                                                    <a asp-controller="product" asp-action="addtowishlist" asp-route-id="@item.Id" class="notifi-wishlist addtowishlist">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart" id="heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-footer">
                                        <div class="product-detail">
                                            <span class="span-name">@item.Category.Name</span>
                                            <a asp-controller="product" asp-action="detail" asp-route-id="@item.Id">
                                                <h5 class="name">
                                                    @item.Name
                                                </h5>
                                            </a>
                                            <p class="text-content mt-1 mb-2 product-content">
                                                @item.Description
                                            </p>
                                            <div class="product-rating mt-2">
                                                <ul class="rating">
                                                    @for (int i = 1; i <= 5; i++)
                                                    {
                                                        <li>
                                                            <i data-feather="star" class="@(i <= rate ? "fill" : "")"></i>
                                                        </li>
                                                    }
                                                </ul>
                                                <span>@(rate).0</span>
                                            </div>
                                            <h5 class="price">
                                                @if (item.DiscountPercent != 0)
                                                {
                                                    <span class="theme-color price">$@((item.SalePrice * (100 - item.DiscountPercent) / 100).ToString("0.00"))</span>
                                                    <del>$@item.SalePrice.ToString("0.00")</del>
                                                }
                                                else
                                                {
                                                    <span class="theme-color price">$@((item.SalePrice * (100 - item.DiscountPercent) / 100).ToString("0.00"))</span>
                                                }
                                            </h5>
                                            <div class="add-to-cart-box bg-white">
                                                <button class="btn btn-add-cart addcart-button addtobasket"
                                                        data-url="@Url.Action("addtobasket", "product", new { id = item.Id })"
                                                        data-product-id="@item.Id">
                                                    Add
                                                    <span class="add-icon bg-light-gray">
                                                        <i class="fa-solid fa-plus"></i>
                                                    </span>
                                                </button>
                                                <div class="cart_qty qty-box">
                                                    <div class="input-group bg-white">
                                                        <button type="button" class="qty-left-minus removefrombasket"
                                                                data-type="minus" data-field="" data-url="@Url.Action("removebasket", "product", new { id = item.Id })">
                                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                                        </button>
                                                        <input class="form-control input-number qty-input"
                                                               type="text" name="quantity" value="0" data-product-id="@item.Id" disabled>
                                                        <button type="button" class="qty-right-plus addtobasket"
                                                                data-type="plus" data-field="" data-url="@Url.Action("addtobasket", "product", new { id = item.Id })">
                                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            delayCount += 0.05;
                        }

              </div>

              <!-- Pagination Starts -->
              <nav class="custome-pagination">
                <ul class="pagination justify-content-center">
                  <li class="page-item disabled">
                    <a
                      class="page-link"
                      href="javascript:void(0)"
                      tabindex="-1"
                      aria-disabled="true"
                    >
                      <i class="fa-solid fa-angles-left"></i>
                    </a>
                  </li>

                            @for (int i = 1; i <= ViewBag.TotalPages; i++)
                            {
                                <li class="page-item @(i == ViewBag.Page ? "active" : "")">
                                    <a class="page-link" href="@Url.Action("Index", new { categoryId = ViewBag.CategoryIds, sizeId = ViewBag.TagIds, page = i, pageSize = ViewBag.PageSize })">@i</a>
                                </li>
                            }

                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0)">
                      <i class="fa-solid fa-angles-right"></i>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </section>
      <!-- Shop Section End -->
    </main>
<!-- Main End  -->

@section styles{
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com/" />
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&amp;display=swap"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&amp;display=swap"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
          rel="stylesheet" />

    <!-- bootstrap css -->
    <link id="rtl-link"
          rel="stylesheet"
          type="text/css"
          href="../assets/css/vendors/bootstrap.css" />

    <!-- wow css -->
    <link rel="stylesheet" href="~/assets/css/animate.min.css" />

    <!-- font-awesome css -->
    <link rel="stylesheet"
          type="text/css"
          href="~/assets/css/vendors/font-awesome.css" />
    <script src="https://kit.fontawesome.com/460a2c75b1.js"
            crossorigin="anonymous"></script>

    <!-- feather icon css -->
    <link rel="stylesheet"
          type="text/css"
          href="~/assets/css/vendors/feather-icon.css" />

    <!-- slick css -->
    <link rel="stylesheet"
          type="text/css"
          href="~/assets/css/vendors/slick/slick.css" />
    <link rel="stylesheet"
          type="text/css"
          href="~/assets/css/vendors/slick/slick-theme.css" />

    <!-- Iconly css -->
    <link rel="stylesheet"
          type="text/css"
          href="~/assets/css/bulk-style.css" />

    <!-- Template css -->
    <link id="color-link"
          rel="stylesheet"
          type="text/css"
          href="~/assets/css/style.css" />
}

@section scripts{
    <script src="~/assets/js/pages/common.js" type="module" defer></script>
    <script src="~/assets/js/pages/shop.js" type="module" defer></script>
    <script src="~/assets/js/script.js" defer></script>
}

@section modals{
    @Html.Partial("_LocationPartialModal");
    @Html.Partial("_DealBoxPartialModal");
    @Html.Partial("_AddToCartPartialModal");
}