@model Product
@{
    int rate = Model.ProductComments.Any() ? (int)Math.Ceiling(Model.ProductComments.Average(x => x.Rate)) : 0;
}

<div class="modal-content">
    <div class="modal-header p-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
    <div class="modal-body">
        <div class="row g-sm-4 g-2">
            <div class="col-lg-6">
                <div class="slider-image">
                    <img src="~/uploads/products/@Model.ProductImages.FirstOrDefault(x=>x.IsMain == true)?.Url" class="img-fluid blur-up lazyload"
                         alt="">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="right-sidebar-modal">
                    <h4 class="title-name">@Model.Name</h4>
                    @if (Model.DiscountPercent > 0)
                    {
                        <h4 class="price">@((Model.SalePrice * (100 - Model.DiscountPercent) / 100).ToString("0.00"))</h4>
                    }
                    else
                    {
                        <h4 class="price">@Model.SalePrice.ToString("0.00")</h4>
                    }
                    <div class="product-rating">
                        <ul class="rating">
                            @for (int i = 1; i <= 5; i++)
                            {
                                <li>
                                    <i data-feather="star" class="@(i <= rate ? "fill" : "")"></i>
                                </li>
                            }
                        </ul>
                        <span class="ms-2 text-danger">@Model.ProductComments.Count Reviews</span>
                    </div>

                    <div class="product-detail">
                        <h4>Product Details :</h4>
                        <p>
                            @Model.Description
                        </p>
                    </div>

                    <ul class="brand-list">
                        <li>
                            <div class="brand-box">
                                <h5>Product Category:</h5>
                                <h6>@Model.Category.Name</h6>
                            </div>
                        </li>
                    </ul>

                    <div class="select-size">
                        <h4>Product Tags :</h4>
                        @foreach (var item in Model.ProductTags)
                        {
                            <p class="mt-3">@item.Tag.Name</p>
                        }
                    </div>

                    <div class="modal-button">
                        <a asp-controller="product" asp-action="detail" asp-route-id="@Model.Id"
                                class="btn theme-bg-color view-button icon text-white fw-bold btn-md">
                            View More Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>